.App {
    color: #d1ee7e;
    font-size: large;
    padding-left: 10px;
    text-shadow: #8a939b 1px 4px 3px;
}
/*.hwName{*/
/*    background: darkred;*/
/*    border-color: #ff9900;*/
/*    border-radius: 10px;*/
/*    padding: 2px;*/
/*    margin: 0;*/
/*    width: 229px;*/
/*    height: 25px;*/
/*}*/
/*.p{*/
/*    padding-top: 29px;*/
/*    padding-left: 29px;*/
/*}*/


