.link{
    text-decoration:none;
    color: #d5b933;
    margin: 10px;
}
.link:hover{
    color: #ee7e87;
}
.active{
    color: #5cde5c;
}
.block{
    width: 21px;
    height: 21px;
    margin: 10px;
    background: rgb(125, 243, 215);
    opacity: 0.5;
    border-radius: 5px;
    color: #830707;
}

.header{
    display: flex;
    width: 390px;
    transition-duration: 500ms;
    transform: translate(-220px);
}
.header:hover{
    transition-duration: 500ms;
    transform: translate(0);
}