@keyframes blink {
    0%{
        left: -130%;
    }
    25%{
        left: -30%;
    }
    50%{
        left: 70%;
    }
    100%{
        left: 130%;
    }
}

.default {
    background: #441e16;
    color: #287798;
    outline: none;
}

.red {
    background: #b72d2d;
}
.button{
    position: relative;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: -4px -4px 4px #8f6d6d;
}
.button::after{
    display: block;
    content: '';
    position: absolute;
    left: -130%;
    top: 0;
    height: 100%;
    width: 20%;
    transform: skew(45deg);
    background-color: #9de58a;
    opacity: 0.7;
    z-index: 14;
}
.button:hover::after{
    animation: blink 0.50s ease;
}
.button:hover::before{
    display: block;
    content: '';
    position: absolute;
    left: -100vh;
    top: 0;
    height: 100vh;
    width: 300vh;
    transform: skew(45deg);
    background-color: #9de58a;
    opacity: 0.2;
    z-index: 7;
}
.button:focus{
    outline: #99ff99 solid 1px;
}
.button:active{
    background: #99ff99;

}
.button:disabled{
    color: #ff9999;
}
.button:disabled::after{
    z-index: -1;
}
.button:disabled::before{
    z-index: -1;
}
